extends layout

block extrahead
  script(src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js")
    
block content
  p#challenge
  p#error
  div#clock

block body_end
  script(src='socket.io/socket.io.js')
  script(src='/javascripts/index.js')
  script(src='/javascripts/moment.min.js')
  script(src='/javascripts/moment-timezone-with-data.js')
  script(src='/javascripts/jquery.countdown.js')
